.hero{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.hero-name{
  font-size: 3rem;
  color: #9DB2BF;

}

.social-links a{
  color: #9DB2BF;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.keyboard-nav{
  font-size: 0.8rem;
  color: #9DB2BF;
}